html body.cro-recipe-59 .cro-Recipe-59-Faq-new-part-wrapper {
    font-family: "open sans", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
}

html body.cro-recipe-59 .cro-Recipe-59-faq-item {
    /* margin-bottom: 10px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #C2C2C2;
}

html body.cro-recipe-59 .faq-item:hover {
    background-color: #f0f0f0;
}

html body.cro-recipe-59 p.cro-Recipe-59-header-part-text {
    margin: 0;
    font-family: "open sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    /* padding-top: 45px; */
    padding-bottom: 20px;
    display: block;
}

html body.cro-recipe-59 .cro-Recipe-59-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    padding: 21px 14px;
    margin: 0;
    font-family: "open sans", Helvetica, Arial, sans-serif;
    text-align: left;
    max-height: 58px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

html body.cro-recipe-59 .cro-Recipe-59-answer-text {
    font-family: "open sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 !important;
    color: #505050;
}

html body.cro-recipe-59 .cro-Recipe-59-answer-text span {
    font-family: "open sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0 !important;
    padding-top: 15px;
    display: block;
    color: #505050;
}

html body.cro-recipe-59 .cro-Recipe-59-answer {
    background: rgba(255, 255, 255, 1);
    /* border-top: 1px solid #C2C2C2; */
    padding: 0;
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: max-height .6s ease, opacity .4s ease, transform .6s ease;
    /* padding-left: 16px; */
}

html body.cro-recipe-59 .croShow .cro-Recipe-59-answer {
    max-height: 1000px;
    /* max-height: fit-content; */
    opacity: 1;
    transform: translateY(0);
    background-color: #fff;
    /* padding: 15px 16px 24px; */
    /* border-radius: 0px 0px 16px 16px; */
    /* padding-top: 0; */
    position: relative;
    z-index: 9;
    border-bottom: 1px solid #C2C2C2;
}


html body.cro-recipe-59 .cro-Recipe-59-faq-item.croShow .cro-Recipe-59-answer {
    border-bottom: 1px solid #C2C2C2;
}


html body.cro-recipe-59 .cro-Recipe-59-answer p {
    padding: 21px 14px;
}

/* html body.cro-recipe-59 .cro-Recipe-59-faq-item[index="5"] {
    margin-bottom: 75px;
} */



@media (max-width: 767px) {
    html body.cro-recipe-59 .cro-Recipe-59-question>span:not(.toggle-symbol) {
        width: 100%;
        max-width: 320px;
    }

    html body.cro-recipe-59 .cro-Recipe-59-faq-item[index="5"] {
        margin-bottom: 47px;
    }

    html body.cro-recipe-59 p.cro-Recipe-59-header-part-text {
        padding-bottom: 35px;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    html body.cro-recipe-59 .cro-Recipe-59-answer p {
        padding: 21px 14px;
    }

    html body.cro-recipe-59 .cro-Recipe-59-question {
        padding: 21px 14px;
        gap: 15px;
    }

    html body.cro-recipe-59 .cro-Recipe-59-faq-item[index="5"] {
        margin-bottom: 0px;
    }

    /* 
    html body.cro-recipe-59 .cro-Recipe-59-faq-item-inner {
        margin-bottom: 75px;
        border: 1px solid #c8c8c8;

    } */
}

html body.cro-recipe-59.croAdmarula .py-5 {
    border-top: none;
    border-bottom: none;
}

html body.cro-recipe-59.croAdmarula .py-5 .pr-3 p {
    margin: 0;
}

html body.cro-recipe-59 .cro-Recipe-59-faq-item:not(.croShow) .cro-Recipe-59-answer {
    transition: max-height 0.5s linear;
    max-height: 0;
}

html body.cro-recipe-59 .cro-Recipe-59-faq-item.croShow .cro-Recipe-59-answer {
    transition: max-height 0.5s linear;
}

html body.cro-recipe-59 .cro-Recipe-59-content:not(.croShow) span.toggle-symbol {
    width: 14px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M13.5 7C13.5 7.5625 13.0312 8.03125 12.5 8.03125H8V12.5312C8 13.0625 7.53125 13.5 7 13.5C6.4375 13.5 6 13.0625 6 12.5312V8.03125H1.5C0.9375 8.03125 0.5 7.5625 0.5 7C0.5 6.46875 0.9375 6.03125 1.5 6.03125H6V1.53125C6 0.96875 6.4375 0.5 7 0.5C7.53125 0.5 8 0.96875 8 1.53125V6.03125H12.5C13.0312 6 13.5 6.46875 13.5 7Z" fill="black"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

html body.cro-recipe-59 .cro-Recipe-59-content.croShow span.toggle-symbol {
    width: 14px;
    height: 16px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewBox="0 0 14 2"%3E%3Cpath d="M12.5 2H1.5C0.9375 2 0.5 1.5625 0.5 1C0.5 0.46875 0.9375 0 1.5 0H12.5C13.0312 0 13.5 0.46875 13.5 1C13.5 1.5625 13.0312 2 12.5 2Z" fill="black"%3E%3C/path%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cro-Recipe-59-faq-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 415px) {
    html body.cro-recipe-59 .cro-Recipe-59-question>span:not(.toggle-symbol) {
        max-width: 290px;
    }
}

@media (max-width:767px) {
    /* html body.cro-recipe-59 .cro-Recipe-59-Faq-new-part-wrapper {
        background-color: #FFFFFF;
    } */

    html body.cro-recipe-59 .cro-Recipe-59-question {
        /* background-color: #F2F2F2; */
        max-height: 100%;
    }

    html body.cro-recipe-59 .cro-Recipe-59-faq-container {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    /* html body.cro-recipe-59 .cro-Recipe-59-answer {
        background-color: #F2F2F2;
    } */
}