picture.w-full.h-full img {
    display: none;
}
.croNewSection a {
    position: absolute;
    right: 10px;
    bottom: 20px;
    margin: 0;
    z-index: 9;
    display: none;
}
section.pt-5.pb-0 {
    display: flex;
    position: relative;
    gap: 0;
    flex-direction: column;
    width: 100%;
}
div#callback-form {
    margin-left: 0;
    margin-right: 0;
}
#cVideo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: auto;
}
.croOverlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    display: block;
}
.croNewSection.croVideoPlay .croOverlay {
    display: none;
}
.croPlay.croHide {
    display: none;
}
.croNewSection.croVideoPlay a {
    display: none !important;
}
/* img.croImg {
    position: absolute;
    width: 100%;
    max-width: 600px;
    left: 6%;
    top: 17%;
} */
.croLoader img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    top: 0;
    width: 15%;
    bottom: 0;
    cursor: pointer;
    display: none;
}
.croLoader.croShow img {
    display: block;
}
@media (min-width: 1536px) {
    /* #cVideo {
     top: 16%;
     width: 45%;
     height: 70%;
    } */
    /* img.croImg {
        left: 5%;
    } */
}
@media (min-width: 1280px) and (max-width: 1536px) {
    picture.absolute.right-0 img {
        height: 16rem !important;
    }
}
/* ----------------------------------- */
.croNewSection {
    /* width: 50%;
    padding: 0px; */
    margin-top: 20px;
}
/* section.pt-5.pb-0 {
    width: 50%;
    padding: 0px;
}
section.pt-5.pb-0 h1 {
    width: 100%;
}
section.pt-5.pb-0 div.content {
    width: 100%;
} */
.croNewSection {
    position: relative;
}
img.croPlay {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    top: 0;
    width: 25%;
    bottom: 0;
    cursor: pointer;
}
img.croImg {
    cursor: pointer;
    /* height: 100%; */
    width: 100%;
    padding: 0px;
    /* min-height: 430px; */
}
@media (max-width: 1279px) {
    /* section.pt-5.pb-0 .content > div:not(#callback-form) picture img {
        width: 70%;
    } */
}
@media (max-width: 1023px) {
    /* section.pt-5.pb-0 {
        width: 100%;
        padding: 0;
    } */
    /* .croNewSection {
        width: 100%;
        padding: 0;
    } */
    img.croImg {
        padding: 0;
    }
    div#callback-form {
        margin: 0;
    }
    .absolute.w-full.h-full {
        display: none;
    }
    section.pt-5.pb-0 {
        text-align: left;
    }
    section.pt-5.pb-0 h1 {
        text-align: left;
    }
    section.pt-5.pb-0 > picture {
        display: none;
    }
    section.pt-5.pb-0 > a {
        display: none;
    }
    section.pt-5.pb-0 p:not(.tcs) {
        color: #000;
    }
    section.pt-5.pb-0 > div > div.md\:mb-5.\32 xl\:mb-10 > div {
        display: none;
    }
    .croNewSection a {
        display: block !important;
    }
    section.pt-5.pb-0 {
        width: 100%;
    }
}
html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 640px) {
    html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
        max-width: 768px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 20px;
    }
    html body.CRO-testimonial-video section.container > h1,
    html body.CRO-testimonial-video section.container > picture,
    html body.CRO-testimonial-video section.container > a,
    html body.CRO-testimonial-video section.container > div {
        width: 90%;
        margin: 0;
    }
    html body.CRO_Test-42_43_44.CRO-testimonial-video section div.md\:mb-5.\32 xl\:mb-10 {
        margin-bottom: 4rem;
    }
}
@media (min-width: 1024px) {
    html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
        max-width: 1024px;
    }
    section.pt-5.pb-0 {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        width: 50%;
    }
}
@media (min-width: 1280px) {
    html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
        max-width: 1280px;
        padding: 75px;
    }
}
@media (min-width: 1536px) {
    html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
        max-width: 1536px;
    }
}
@media (min-width: 2200px) {
    html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
        max-width: 2200px;
    }
}
.CRO-testimonial-video section.pt-5 .content {
    text-shadow: none;
}
@media  (min-width: 1024px) and (max-width: 2200px) {
}
.croNewSection{
    /* height: 450px; */
    box-shadow: 0px 0px 31px 0px #00000030;
}
.relative.py-0.z-50 {
    background-color: #fff;
}
html body.CRO-testimonial-video .landing{
    background-color: #ECEAEF;
}
html body.CRO-testimonial-video .croPlay:hover{
    background-color: rgb(0 0 0 / 35%);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 80%;
}
html body.CRO-testimonial-video .croNewTextSection{
    width: 50%;
    padding: 0px;
    margin-top: 25px;
    margin-right: 80px;
}
html body.CRO-testimonial-video .cro-addText-header {
    max-width: 423px;
}
html body.CRO-testimonial-video h2.cro-addText-headingText {
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 0;
}
html body.CRO-testimonial-video .cro-addText-paraText {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
html body.CRO-testimonial-video .cro-addText-para {
    max-width: 514px;
}
html body.CRO-testimonial-video .cro-addText-headerImg {
    max-width: 431px;
    margin: 25px 0;
}
html body.CRO-testimonial-video h1.\32xl\:leading-tight{
    display: none;
}
html body.CRO-testimonial-video .\32xl\:mb-10 p{
    display: none;
}
html body.CRO-testimonial-video .lg\:max-w-full{
    display: none;
}
@media (max-width: 1023px) {
    .croNewTextSection{
        width: 100% !important;
        padding: 0;
        margin-right: 0 !important;
    }
    html body.CRO-testimonial-video .croNewTextSection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    html body.CRO-testimonial-video h2.cro-addText-headingText{
        font-size: 24px;
        line-height: 32px;
    }
    html body.CRO-testimonial-video .cro-addText-header{
        margin-top: 20px;
    }
}
@media  (min-width: 320px) and (max-width: 559px) {
    img.croImg{
        min-height: 0;
    }
}
@media  (min-width: 1024px) and (max-width: 1050px) {
    html body.CRO-testimonial-video .croNewTextSection{
        margin: 0 30px;
    }
}
 .relative.py-0.overflow-hidden{
    background-color: #ECEAEF !important;
    --tw-gradient-from: none;
}
/* -------//------ */
.md\:gap-20 .content{
    display: none;
}
.CRO-testimonial-video.cro-newChanges .landing > .py-0:not(.cro-t-heading) > picture {
    display: none;
}
.CRO-testimonial-video.cro-newChanges .landing > .py-0:not(.cro-t-heading) > div > a > picture {
    display: none;
}
html body.CRO-testimonial-video.cro-newChanges .croNewTextSection{
    width: 100%;
}
html body.CRO-testimonial-video.cro-newChanges .py-5{
    margin-top: 1.25rem;
    border: none;
}
html body.CRO-testimonial-video .hubspot-form.inline-form-fields form{
    display: block;
}
html body.CRO-testimonial-video .omni-form.inline-form-fields form{
    display: block;
}
html body.CRO-testimonial-video .lg\:w-1\/3{
    display: none;
}
@media (min-width: 1024px) and (max-width: 1279px) {
    html body.CRO-testimonial-video .relative.py-0.overflow-hidden {
        padding: 30px;
    }
}
@media (min-width: 1280px) {
    html body.CRO-testimonial-video picture.absolute.right-0 img{
        height: 13rem !important;
    }
}
@media (min-width: 767px) {
    html body.CRO-testimonial-video .md\:opacity-80{
        opacity: 0;
    }
}
@media (max-width: 1023px) {
    .py-8 picture img {
        width: 8rem;
    }
    .py-0 .py-8 {
        padding: 8px;
    }
    .croNewSection .bg-orange-new{
        display: none !important;
    }
}

.CRO-testimonial-video.cro-newChanges .py-0:not(.cro-t-heading) .relative.container > a {
    display: none;
}