@media (max-width:1023px) {
    html body.cro-t-108 p.cro-t-clint-text {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 29.05px;
        text-align: left;
        color: #828483;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    html body.cro-t-108 p.cro-t-clint-text span {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 34px;
        font-weight: 700;
        line-height: 41.15px;
        text-align: left;
        /* color: #E6873B; */
        margin-right: 23px;
        color: #5EAB4C;

    }

    html body.cro-t-108 .cro-t-clint-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 0;
    }

    html body.cro-t-108 .cro-t-clint-desk {
        display: none;
    }
}

@media (max-width:550px) {
    html body.cro-t-108 p.cro-t-clint-text span {
        font-size: 24px;
        line-height: 34px;
        margin-right: 15px;
    }

    html body.cro-t-108 p.cro-t-clint-text {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width:1024px) {
    html body.cro-t-108 .cro-t-clint {
        display: none;
    }

    html body.cro-t-108 .cro-t-clint-text-desk {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: left;
        color: #FFFFFF;
        display: inline-block;
        background-color: azure;
        padding: 4px 14px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        margin-bottom: 0;
    }

    html body.cro-t-108 .cro-t-clint-text-desk {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    html body.cro-t-108 .cro-t-clint-desk {
        position: absolute;
        top: 35px;
        left: 20px;
    }

    html body.cro-t-108 .cro-t-clint-text-desk span {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 31.47px;
        text-align: left;
        /* color: #E6873B; */
        margin-right: 8px;
        color: #5EAB4C;

    }

}

html body.cro-t-108 p.cro-t-clint-text-desk span,
html body.cro-t-108 .cro-t-clint-text span {
    /* margin-right: 0 !important; */
    width: 60px;
    display: flex;
    justify-content: center;
}