html body.cro92 section.pt-5 .lead {
    visibility: hidden;
}

/* ---New-part--- */

html body.cro92 .cro92-interest-rates {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.85);
}

html body.cro92 .cro92-interest-rates-right-image.image_1 {
    width: 293px;
    height: 70px;
}

html body.cro92 .cro92-interest-rates-right-image.image_2 {
    width: 218px;
    height: 70px;
}

html body.cro92 .cro92-interest-rates-right-image.image_3 {
    width: 205px;
    height: 70px;
}

html body.cro92 .cro92-interest-rates-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

html body.cro92 .cro92-interest-rates-text {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


html body.cro92 .cro92-interest-rates-text span {
    font-weight: 700;
}

html body.cro92 .cro92-interest-rates-left-wrapper {
    width: 100%;
    max-width: 750px;
}

html body.cro92 .cro92-interest-rates-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

html body.cro92 img.cro92-right-icon {
    width: 100%;
}

html body.cro92 .cro92-interest-rates.mobile {
    display: none;
}

html body.cro92 section.pt-5 h1 {
    display: none;
}

@media (max-width:1279px) {
    html body.cro92 .cro92-interest-rates-inner {
        gap: 16px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    html body.cro92 .cro92-interest-rates-left-wrapper {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width:1023px) {
    html body.cro92 section.pt-5 .lead {
        height: 0;
        margin: 0;
    }

    html body.cro92 .cro92-interest-rates {
        display: none;
    }

    html body.cro92 .cro92-interest-rates.mobile {
        position: relative !important;
        display: block !important;
        background-color: transparent;
    }

    html body.cro92 .cro92-interest-rates-right-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0;

    }

    html body.cro92 .cro92-interest-rates-right-image.image_1 {
        width: 237px;
        height: 56px;
        order: 1;
    }

    html body.cro92 .cro92-interest-rates-right-image.image_2 {
        width: 162px;
        height: 56px;
        order: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    html body.cro92 .cro92-interest-rates-right-image.image_3 {
        width: 166px;
        height: 56px;
        order: 2;
    }

    html body.cro92 .cro92-interest-rates-inner {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .cro92-from-sub_heading {
        display: none;
    }
}

html body.cro92 .cro92-from-heading-text {
    color: #282828;
    font-family: "Open Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
}

html body.cro92 .cro92-from-heading-text.secend {
    font-weight: 400;
}

html body.cro92 .cro92-from-header-wrapper {
    width: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-bottom: 1.25rem;
}

html body.cro92 .cro92-from-sub_heading-text {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

html body.cro92 .cro92-from-header-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

html body.cro92 .cro92-form-bottom-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 9px;
}

html body.cro92 .cro92-form-bottom-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

html body.cro92 .cro92-form-bottom-text {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

html body.cro92 .cro-from-heading-text {
    color: #FFF;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

html body.cro92 .cro-from-heading-wrapper {
    margin-bottom: 25px;
}

html body.cro92 #buttonsWrapper>div {
    height: 60px;
}


@media (min-width:768px) {
    html body.cro92 .cro92-from-header-wrapper {
        margin-bottom: 16rem;
    }
}

@media (min-width:1280px) {
    html body.cro92 .cro92-from-header-wrapper {
        margin-bottom: 2rem;
    }
}

@media (min-width:1024px) {
    html body.cro92 #main-form .cro-from-heading {
        grid-column: 1 / -1;
    }

}


@media (max-width:767px) {
    html body.cro92 .cro92-from-header-wrapper {
        margin-bottom: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    html body.cro92 .cro92-from-heading-text.Desktop {
        display: none;
    }

    html body.cro92 .cro92-from-heading-text.Mobile {
        display: block !important;
    }

    html body.cro92 .cro92-from-heading-text {
        color: #282828;
        text-align: right;
        font-family: "Open Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    html body.cro92 .cro92-from-header-inner {
        width: 237px;
    }

    html body.cro92 .cro92-form-bottom-inner {
        gap: 4px;
    }
    
    html body.cro92 .cro-from-heading-wrapper {
    margin-bottom: 25px;
}
}

@media (max-width:500px) {
    html body.cro92 #buttonsWrapper>div {
        height: 36px;
    }

    html body.cro92 .cro92-form-bottom-inner {
        padding-bottom: 0;
        padding-top: 20px;
    }
}

@media (max-width:1750px) and (min-width:1280px) {
    html body.cro92 .py-0 picture.absolute img[alt="DebtBusters logo"] {
        height: 8rem;
    }
}